{
  "http_interactions": [
    {
      "recorded_at": "2026-03-08T03:07:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.details?i=GCD11E"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://tiles01.geocaching.com/map.details?i=GCD11E"
          ]
        },
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "url": "http://tiles01.geocaching.com/map.details?i=GCD11E"
      }
    },
    {
      "recorded_at": "2026-03-08T03:07:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.details?i=GCD11E"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"status\":\"success\",\"data\":[{\"name\":\"Charles Bridge Webcam-Prague\",\"gc\":\"GCD11E\",\"g\":\"2980917a-4426-4c1b-823d-597827029f08\",\"available\":false,\"archived\":true,\"subrOnly\":false,\"li\":false,\"fp\":\"9\",\"difficulty\":{\"text\":1.0,\"value\":\"1\"},\"terrain\":{\"text\":1.0,\"value\":\"1\"},\"hidden\":\"2/7/2003\",\"container\":{\"text\":\"Not chosen\",\"value\":\"not_chosen.gif\"},\"type\":{\"text\":\"Webcam Cache\",\"value\":11},\"owner\":{\"text\":\"SamDeG\",\"value\":\"c3cc0db2-f87d-4624-97f1-84e3c865064f\"}}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://tiles01.geocaching.com/map.details?i=GCD11E"
      }
    },
    {
      "recorded_at": "2026-03-08T03:07:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/seek/cdpf.aspx?guid=2980917a-4426-4c1b-823d-597827029f08"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\r\n<!DOCTYPE html>\r\n<html>\r\n<head>\r\n    <title id=\"pageTitle\">(GCD11E) Charles Bridge Webcam-Prague by SamDeG</title>\r\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\r\n    <link rel=\"shortcut icon\" href=\"../favicon.ico\" />\r\n    <link rel=\"stylesheet\" href=\"/js/vendor/jquery-ui-1.12.1/jquery-ui.min.css\" type=\"text/css\" media=\"screen\" />\r\n        \r\n    <style type=\"text/css\" media=\"all\">\r\n        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre,\r\n        a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,\r\n        strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {\r\n            margin: 0;\r\n            padding: 0;\r\n            font-weight: inherit;\r\n            font-style: i[...]
