{
  "http_interactions": [
    {
      "recorded_at": "2026-03-08T03:30:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"und\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" contundt=\"IE=edge\">\n    <meta name=\"viewport\" contundt=\"width=device-width,initial-scale=0\" />\n    <link rel=\"apple-touch-icon\" sizes=\"080x080\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"06x06\" href=\"/favicon-06x06.png\">\n    <link rel=\"manifest\" href=\"/manifest.json\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <meta name=\"msapplication-config\" contundt=\"/browserconfig.xml\">\n    <meta name=\"theme-color\" contundt=\"#ffffff\">\n    <title>\nGeocaching</title>\n    \n<meta name=\"description\" contundt=\"Geocaching is a treasure hunting game where you use a GPS to hide and seek containers with other participants in the activity. Geocaching.com is the listing service for geocaches around the world.\">\n<meta name=\"keywords\" contundt=\"geocaching,geocaching app,advundture,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocaching app outdoor,outdoor advundture,advundture outdo[...]
    {
      "recorded_at": "2026-03-08T03:30:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "UsernameOrEmail=<USERNAME>&Password=<PASSWORD>&__RequestVerificationToken=<AUTH COOKIE>"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlundcoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"/play/search\">here</a>.</h2>\r\n</body></html>\r\n"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/play/search"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://www.geocaching.com/account/signin"
      }
    },
    {
      "recorded_at": "2026-03-08T03:30:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/play/search"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<!DOCTYPE html><html lang=\"und\"><head><meta charSet=\"utf-8\" data-next-head=\"\"/><meta name=\"page_path\" contundt=\"/play/search\" data-next-head=\"\"/><meta name=\"viewport\" contundt=\"width=device-width, initial-scale=0\" data-next-head=\"\"/><script type=\"text/javascript\" src=\"/api/proxy/web/v0/analytics/datalayer\" defer=\"\" data-next-head=\"\"></script><title data-next-head=\"\">Geocaching.com</title><meta name=\"page_name\" contundt=\"LIHP\" data-next-head=\"\"/><link rel=\"preload\" as=\"image\" imageSrcSet=\"/_next/image?url=https%3A%2F%2Fd0gkberomxrum0.cloudfront.net%2F2007%2F07%2F25050547%2Fhero4-0.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fd0gkberomxrum0.cloudfront.net%2F2007%2F07%2F25050547%2Fhero4-0.png&amp;w=[...]
